* {
  color: #fff;
}

option {
  color: #000 !important;
}

.container {
  max-width: 514px;
  max-height: 532px !important;
  overflow: hidden;
}

img {
  border: 1px solid black;
  padding: 0;
  cursor: pointer;
  float: right !important;
}

img:hover,
.bgBlue {
  background: rgb(180, 180, 180);
}
